@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

:root {
  --dark: #102a43;
  --light-text: #f0f4f8;
}

body {
  background-color: var(--dark);
  font-family: "Libre Caslon Text", serif;
  margin: 0;
  overflow-x: hidden;
}

.App-header {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 18px;
  color: var(--light-text);
}

.App-select {
  width: 50%;
  margin: auto;
}
